@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer components {
	.spinner {
		margin: 3.2rem auto 1.6rem;
		width: 60px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 8px solid theme('colors.primary.900');
		border-right-color: theme('colors.primary.200');
		animation: rotate 1s infinite linear;
		color: #163849;
	}

	.spinner-mini {
		margin: 0;
		width: 20px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 2px solid theme('colors.primary.200');
		border-right-color: transparent;
		animation: rotate 1s infinite linear;
	}

	@keyframes rotate {
		to {
			transform: rotate(1turn);
		}
	}
}
